.container{
    padding: 50px 30px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
    display:flex; 
    background-color: #6be5a0b2;
    min-height: 80vh;
    
}

.heading{
    margin: 0 auto;
    max-width: 500px;
    color:black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 4.2rem;
}
.heading span{
    background-clip: text;
    background-image: linear-gradient(to right, rgba(0, 187, 255, 0.603), rgb(0, 128, 255));
    color: transparent;
}
.right_side img{
    width: 600px;
}
@media (max-width: 768px) {
    .right_side img{
        width: 200px;

    }
}